@import "tailwindcss";

@theme {
  --color-primary: #3490dc;
  --color-secondary: #ff6f61;
  --color-accent: #FC7E13;
  --color-lightGray: #f3f4f6;
  --color-darkGray: #2d2d2d;
  --color-black: #1A1A1A;
  --color-blackish: #3F3F41;
  --color-blue: #1E274F;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dm-sans: var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-satoshi {
  font-family: var(--font-satoshi);
}

.font-outfit {
  font-family: var(--font-outfit), sans-serif;
}

.font-fjalla-one {
  font-family: var(--font-fjalla-one), sans-serif;
}

@media (min-width: 1440px) {
  .bottom-1440-11 {
    bottom: 2.20rem !important;
  }
}

/* CUSTOM CSS */
/*----------------------------------------
  CUSTOM CSS
----------------------------------------*/

.marquee {
  animation: marquee 20s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-240%);
  }
}

@media (min-width: 768px) {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-180%);
    }
  }
}

@media (min-width: 1024px) {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-120%);
    }
  }
}